archive/
PreMode.results/*/log/
PreMode.results/*/*.npz
PreMode.results/archive/

PreMode.results/PreMode/archive/
PreMode.results/PreMode/archive.2/
PreMode.results/PreMode/*.pt
PreMode.results/PreMode/*.json
PreMode.results/PreMode/TL.*
PreMode.results/PreMode/ProteinGym.*

PreMode.results/ESM.SLP/archive/
PreMode.results/ESM.SLP/*.json
PreMode.results/ESM.SLP/TL.*

PreMode.results/PreMode.noESM/*.json
PreMode.results/PreMode.noESM/TL.*

PreMode.results/PreMode.noESM.noMSA/*.json

PreMode.results/PreMode.noMSA/TL.*

PreMode.results/PreMode.noStructure/TL.*

PreMode.results/PreMode.ptm/TL.*

PreMode.results/PreMode.revision.noparalog/

PreMode.results/PreMode.revision.remove.all.paralog/

PreMode.results/PreMode.revision.remove.glof.paralog/*.json
PreMode.results/PreMode.revision.remove.glof.paralog/TL.*

scripts/archive/

analysis/archive/

analysis/Hsu.et.al.git/1900_weights/*
analysis/Hsu.et.al.git/data/*
analysis/Hsu.et.al.git/inference/*
analysis/PreMode/*/*.log

.vscode/

data.files/archive/
data.files/af2.files.tgz*
data.files/esm.files.tgz*
data.files/esm.MSA.tgz*
data.files/gMVP.MSA.tgz*
data.files/pretrain.tgz*
data.files/MSA.tgz*

copy.files.sh
remove.columns.R
remove.folder.sh
zip.files.sh

parse.input.table/swissprot_and_human.full.seq.csv.tgz.part-ab
parse.input.table/swissprot_and_human.full.seq.csv.tgz.part-aa
parse.input.table/swissprot_and_human.full.seq.csv.tgz.part-ac
analysis/PreMode/ProteinGym.best.val

analysis/funNCion/SCN2A_cplx_henrike_variants.pse
analysis/PreMode/ThermoMPNN/testing.csv.gz
analysis/PreMode.noESM.noMSA/ThermoMPNN/testing.csv.gz
analysis/PreMode/ThermoMPNN.human/testing.csv.gz
utils/PreMode.swissprot.epoch.10.pt
data.files/Stab.tgz

# ThermoMPNN analysis files
analysis/PreMode/ThermoMPNN*