data.files/af2.files.tgz filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-aa filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-ab filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-ac filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-ad filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-ae filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-af filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-ag filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-ah filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-ai filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-aj filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-ak filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-al filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-am filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-an filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-ao filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-ap filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-aq filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-ar filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-as filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-at filter=lfs diff=lfs merge=lfs -text
data.files/esm.files.tgz.part-au filter=lfs diff=lfs merge=lfs -text
data.files/esm.MSA.tgz.part-aa filter=lfs diff=lfs merge=lfs -text
data.files/esm.MSA.tgz.part-ab filter=lfs diff=lfs merge=lfs -text
data.files/esm.MSA.tgz.part-ac filter=lfs diff=lfs merge=lfs -text
data.files/esm.MSA.tgz.part-ad filter=lfs diff=lfs merge=lfs -text
data.files/esm.MSA.tgz.part-ae filter=lfs diff=lfs merge=lfs -text
data.files/esm.MSA.tgz.part-af filter=lfs diff=lfs merge=lfs -text
data.files/esm.MSA.tgz.part-ag filter=lfs diff=lfs merge=lfs -text
data.files/gMVP.MSA.tgz.part-aa filter=lfs diff=lfs merge=lfs -text
data.files/gMVP.MSA.tgz.part-ab filter=lfs diff=lfs merge=lfs -text
data.files/pretrain.tgz filter=lfs diff=lfs merge=lfs -text
